# Dependencies
node_modules/
backend/node_modules/

# Environment Variables
.env
backend/.env

# Uploads
uploads/
backend/uploads/

# Build Files
dist/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db